<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> -->
<style>
div#author-content {
    width:90%;
    margin:0 auto;
    padding-bottom: 35px;
}

img#image-author {
    margin-left: 0px;
    margin-top: 5px;
    padding-right: 5px;
    float: left;
}

#social-author {
    float:right;    

}

#im-ab {
    padding-bottom: 2px;
}

#author-header {
  margin-top: 10px;
  padding-top: 10px;
}

</style>
<div class="w3-card-2">
  <div id="author-content">
    <h3 id="author-header">Yazar</h3>
    <hr>
     <div itemprop="author" id="name-author"><strong>{{ author.display_name }}</strong> <a href="https://twitter.com/cyberolog" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true">Follow @cyberolog</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>

     <img itemprop="image" id="image-author" src="{{ author.gravatar }}">
      <div id="about-author">{{ author.about }}
      <br>
      Destekleyin: <a href="bitcoin:1C19wAdiSPYEBW3F1TUhGVvZeiMHEU4x8x?message=Donation&time=1495578597" target="_blank"><i class="fa fa-btc fa"></i> 1C19wAdiSPYEBW3F1TUhGVvZeiMHEU4x8x</a>
      </div>
      <div id="social-author"> 
<!--            <a href="{{ author.facebook }}" ><i class="fa fa-facebook-square fa"></i></a> -->
            <a href="{{ author.twitter }}" target="_blank" ><i class="fa fa-twitter-square fa"></i></a>
            <a href="{{ author.github }}" target="_blank"><i class="fa fa-github-square fa"></i></a>
<!--            <a href="mailto:{{ author.email }}" target="_blank"><i class="fa fa-envelope-square fa"></i></a> -->
            
      </div>
    </div>
</div>