<script src="https://giscus.app/client.js"
        data-repo="siberoloji/siberoloji.github.io"
        data-repo-id="R_kgDONljn-w"
        data-category="Announcements"
        data-category-id="DIC_kwDONljn-84Clykl"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>