{{/* Article navigation on the footer of the article */}}

{{- $reversePagination := .Scratch.Get "reversePagination" | default true -}}

{{- $prev := cond $reversePagination .PrevInSection .NextInSection -}}
{{- $next := cond $reversePagination .NextInSection .PrevInSection -}}

{{- if eq .Params.prev false }}
  {{- if $reversePagination }}{{ $next = false }}{{ else }}{{ $prev = false }}{{ end -}}
{{ else }}
  {{- with .Params.prev -}}
    {{- with $.Site.GetPage . -}}
      {{- if $reversePagination }}{{ $next = . }}{{ else }}{{ $prev = . }}{{ end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if eq .Params.next false }}
  {{- if $reversePagination }}{{ $prev = false }}{{ else }}{{ $next = false }}{{ end -}}
{{ else }}
  {{- with .Params.next -}}
    {{- with $.Site.GetPage . -}}
      {{- if $reversePagination }}{{ $prev = . }}{{ else }}{{ $next = . }}{{ end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if or $prev $next -}}
  <div class="d-flex justify-content-between align-items-center">
    {{- if $prev -}}
      {{- $linkTitle := partial "title" $prev -}}
      <a
        href="{{ $prev.RelPermalink }}"
        title="{{ $linkTitle }}"
      >
 
      &lt;&nbsp;  {{- $linkTitle -}}
      </a>
    {{- end -}}
    {{- if $next -}}
      {{- $linkTitle := partial "title" $next -}}
      <a
        href="{{ $next.RelPermalink }}"
        title="{{ $linkTitle }}"
        
      >
        {{- $linkTitle -}} &nbsp&gt; 
        
      </a>
    {{- end -}}
  </div>
{{- end -}}







<!--
<ul class="list-unstyled d-flex justify-content-between align-items-center mb-0 pt-5">
  <li>
    <a {{if .PrevInSection}}href="{{.PrevInSection.RelPermalink}}" aria-label="{{ T "ui_pager_prev" }} - {{.PrevInSection.Title}}" {{end}}class="btn btn-primary{{if not .PrevInSection}} disabled{{end}}"><span class="me-1">←</span>{{ T "ui_pager_prev" }}</a>
  </li>
  <li>
    <a {{if .NextInSection}}href="{{.NextInSection.RelPermalink}}" aria-label="{{ T "ui_pager_next" }} - {{.NextInSection.Title}}" {{end}}class="btn btn-primary{{if not .NextInSection}} disabled{{end}}">{{ T "ui_pager_next" }}<span class="ms-1">→</span></a>
  </li>
</ul>

-->